

				<div class="award init"><!-- style="width:10%;" data-offset="-10%">-->
					<div class="col col-25">
						<br/>
					</div>
					<div class="col col-50">
						<h1>2009</h1>
						<p>Yes, it's the inaugral and not-very-long awaited DEC awards (Delicious and Excellent Concepts)! I'm your host, Declan Tyson (unsurprisingly, seeing as 
						it's my website and awards ceremony) and I couldn't care less about being here, but honestly I'm bored and the PlayStation's overheated - I blame Fallout.</p>
						<h1 class="next">v</h1>
					</div>
					<div class="col col-25">
						<br/>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="award"><!-- style="width:10%;" data-offset="-10%">-->
					<div class="col col-50">
						<div class="vignette" style="background-image:url(/assets/uploads/2015-10-05/61398a925aefb70c73e00636f07f34d8fb36114f.jpg);height:500px;"></div>
					</div>
					<div class="col col-50">
						<h1>Album of the year</h1>
						<p>And the award goes to... The Prodigy for their fantastic album <strong>Invaders Must Die</strong>! Highlights from this album include their spectacular rave-rock-dance anthem 
						'Omen' and stripper song 'Stand Up'. In all honesty, there wasn't really anything close. I mean, this year has As I Lay Dying's 'The Powerless Rise', which should 
						be immense, but other than that, music seems to have died.</p>
						<h1 class="next">v</h1>
					</div>
				</div>
				<div class="clearfix">
					<br/>
				</div>
				<div class="award"><!-- style="width:10%;" data-offset="-10%">-->
					<div class="col col-50">
						<h1>Game of the year</h1>
						<p>This award is considerably more difficult. There have been many good games in 2009, but not really any amazing ones. I mean up there is Wii Sports Resort, 
						New Super Mario Bros Wii, Mini Ninjas and The Sims 3, all of which are games that I would give 8 out of 10 but no more. However, coming in first place to clinch 
						victory, is <strong>Batman - Arkham Asylum</strong>. Although somewhat linear and perhaps a little short, the stunning graphics and excellent combat system keeps 
						you wanting more and has really whet my appetite for the second one this year. Congratulations to Rocksteady, certainly the breakthrough developer of the year.</p>
						<h1 class="next">v</h1>
					</div>
					<div class="col col-50">
						<div class="vignette" style="background-image:url(/assets/uploads/2014-02-06/arkham.png);height:500px;"></div>
					</div>
				</div>
				<div class="clearfix">
					<br/>
				</div>
				<div class="award"><!-- style="width:10%;" data-offset="-10%">-->
					<div class="col col-50">
						<div class="vignette" style="background-image:url(/assets/uploads/2014-02-06/ib.jpg);height:500px;"></div>
					</div>
					<div class="col col-50">
						<h1>Film of the year</h1>
						<p><strong>Inglourious Basterds</strong>. Nothing else was even close. A bad year for film, in all honesty.</p>
						<h1 class="next">v</h1>
					</div>
				</div>
				
				
				<div class="clearfix">
					<br/>
				</div>
				<div class="award"><!-- style="width:10%;" data-offset="-10%">-->
					<div class="col col-50">
						<div class="vignette" style="background-image:url(/assets/uploads/2014-02-06/ff13.jpg);height:500px;"></div>
					</div>
					<div class="col col-50">
						<h1>Looking forward to in 2010...</h1>
						<p>Well, where to start? There's AILD's The Powerless Rise to come soon, Sonic 4 which everyone's dubious about because it almost seems too good to be true, 
						Fallout: New Vegas, and Tim Burton's Alice In Wonderland. However, the thing I am looking forward to most in 2010 is coming out on March 9th, although I won't 
						be getting it for months. That's right, it's <strong>Final Fantasy XIII</strong>. The first next-gen Final Fantasy has taken a while coming, but I have absolutely 
						no doubt that it will be worth every glorious minute.</p>
					</div>
				</div>
