

				<div class="award init"><!-- style="width:10%;" data-offset="-10%">-->
					<div class="col col-25">
						<br/>
					</div>
					<div class="col col-50">
						<h1>2014</h1>
						<p>2014 was a big year for me personally, as I somehow managed to stumble my way through a proposal in a semi-romantic fashion 
						to become an engaged man! My now-fianc&#233;e also sucessfully graduated with a fantastic grade and my work was tweeted about by 
						the likes of Leonardo DiCaprio and Al Gore - more on that another time.</p>
						<p>For now, let's focus on the media of the year just passed. I haven't been able to focus on as much as I'd like, but here's the highlights. 
						I've kind of given up the add-one-award-per-year thing and in fact am ruthlessly cutting the lazier, more pointless awards. Game of the Year 
						and Portable Game of the Year are now rolled into one, and App of the Year and Playlist of the Year have been dropped altogether due to 
						them being completely and utterly uninteresting. These five awards are now the definitive five and will remain that way until the final 
						DEC awards... who knows when that'll be?</p>
						<h1 class="next">v</h1>
					</div>
					<div class="col col-25"> 
						<br/>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="award"><!-- style="width:10%;" data-offset="-10%">-->
					<div class="col col-50">
						<div class="vignette" style="background-image:url(/assets/background-images/wovenwar.jpg);height:500px;"></div>
					</div>
					<div class="col col-50">
						<h1>Album of the year</h1>
						<p>To be perfectly honest, Music is becoming increasingly less important in my life, but I still appreciate a good album, and we did have a
						few honourable mentions this year. I'm going to quickly mention the fantastic soundtracks that are ineligible for this award from Super Smash Bros. 
						and Guardians of the Galaxy. The Hunger Games: Mockingjay Pt 1 also featured some very good tracks.</p>
						<p>Moving on to actual albums and not compilations, I'd like to first mention BABYMETAL's self-titled debut album, which somewhat predictably draws 
						comparison with Maximum The Hormone, AKA the only other Japanese metal band that's made it big in the west. However, they're a very different beast to 
						MTH - heavier, more brutal and frankly, a lot better. ShakaPonk - that weird techno/rock/funk fusion that nobody else has heard of - released a double 
						album White Pixel Ape and Black Pixel Ape which is just as weird as ever, but doesn't reach the heights of 2011's The Geeks And The Jerkin' Socks. 
						The best album for me is without a doubt <strong>Wovenwar</strong>, as reviewed earlier on this year. An incredible listen from start to finish, and probably the best 
						album I've heard in a good few years.</p>
						<h1 class="next">v</h1>
					</div>
				</div>
				<div class="clearfix">
					<br/>
				</div>
				<div class="award"><!-- style="width:10%;" data-offset="-10%">-->
					<div class="col col-50">
						<h1>Game of the year</h1>
						<p>A lot of videogames this year have proven to be disappointments rather than revelations - I'm looking at you, Destiny and Ground Zeroes. 
						A lot's been made of Middle Earth: Shadow of Mordor but it's not something I've played or am really even interested in. Dark Souls II, too, has many a mention 
						but I haven't played this one either. Mario Kart 8 deserves a special mention for its party aspect and excellent handling of DLC, but it's hardly game of the 
						year material. Bayonetta 2 comes closer.</p>
						<p>It's pretty obvious that I'm going to give the award to <strong>Super Smash Bros. for Wii U</strong>, so I won't drag this out for longer than I need to. 
						It's got some rather silly flaws that could easily be fixed - a slightly confusing menu layout, Smash Tour sucking in comparison to the 3DS's Smash Run - but 
						it doesn't detract from what, to me, is near-perfect gameplay. It's a game that will keep me happy for many years to come. Check out the ongoing <a href="/ssb4-tiers">tier list</a> and 
						git gud scrub.</p>
						<h1 class="next">v</h1>
					</div>
					<div class="col col-50">
						<div class="vignette" style="background-image:url(/assets/uploads/2015-01-12/ssb.jpg);height:500px;"></div>
					</div>
				</div>
				<div class="clearfix">
					<br/>
				</div>
				<div class="award"><!-- style="width:10%;" data-offset="-10%">-->
					<div class="col col-50">
						<div class="vignette" style="background-image:url(/assets/uploads/2015-01-12/walf-of-wall-street.jpg);height:500px;"></div>
					</div>
					<div class="col col-50">
						<h1>Film of the year</h1>
						<p>'But <a href="/wolf-of-wall-street"><strong>The Wolf of Wall Street</strong></a> is a 2013 film! It says so on IMDB and Wikipedia!' Yes, well living on the more civilised side of the Atlantic, 
						we got to watch it for the first time in January 2014. </p>
						<p>It's easily the best film of the year, with frankly not much other competition. <a href="/guardians-of-the-galaxy">Guardians of the Galaxy</a> is a fantastic, fun movie but in terms of 
						actual quality it simply doesn't compare to this masterpiece by Scorsese. Similarly, the final instalment in the Hobbit trilogy is a great film, although 
						it ditches most of the wit and humour that made the first two so charming in favour of one enormous battle. Gone Girl was fantastically Fincher, but again, 
						not a touch on Wolfy. As for Interstellar, it's a film with a great premise and some class acting that's honestly a little bit ruined by the fact that
						you can't hear half of the dialogue. Deliberate or not, that doesn't make it any less of shitty decision.</p>
						<h1 class="next">v</h1>
					</div>
				</div>
				
				<div class="clearfix">
					<br/>
				</div>
				<div class="award"><!-- style="width:10%;" data-offset="-10%">-->
					<div class="col col-50">
						<h1>TV Series of the year</h1>
						<p>Spoilt for choice when it comes to TV. For once, let's not talk about <a href="/game-of-thrones-s4">Game of Thrones</a>: it was a 
						brilliant season but perhaps a little too flawed to be the best series of the year.</p>
						<p>When the new season of Orange Is The New Black appeared on Netflix at the beginning of June I was surprised at just how much I enjoyed it, 
						the premise of a woman's prison didn't immediately appeal to me but the characters are clever, complex, well-written and acted, and the whole show in 
						general is a very high-quality, easy-watch show.</p>
						<p>Netflix managed to outdo itself with House of Cards, though - Kevin Spacey's ruthless portrayal of Frank Underwood produced some of the best moments 
						in television history and with the third season due for release at the end of February there's some serious shit going down. An incredible TV series.</p>
						<h1 class="next">v</h1>
					</div>
					<div class="col col-50">
						<div class="vignette" style="background-image:url(/assets/uploads/2015-01-12/Kevin-Spacey-in-House-of-Cards-Season-2-Chapter-26.jpg);height:500px;"></div>
					</div>
				</div>
				
				<div class="clearfix">
					<br/>
				</div>
				<div class="award"><!-- style="width:10%;" data-offset="-10%">-->
					<div class="col col-50">
						<div class="vignette" style="background-image:url(/assets/uploads/2015-01-12/spectre.jpg);height:500px;"></div>
					</div>
					<div class="col col-50">
						<h1>Looking forward to in 2015...</h1>
						<p>There's a few interesting looking things on the horizon for 2015. Firstly, Splatoon looks to innovate the shooter genre and I am super psyched 
						for it. Codename: S.T.E.A.M. will hopefully do similar things to tactical RPGs. Then of course, there's new StarFox and Zelda titles for the Wii U. 
						Then of course, any SSB DLC - starting with Mewtwo and hopefully progressing even further (Snake please!).</p>
						<p>But the award goes to the return of <a href="/blogalongabond">Blogalongabond</a>, for one month only. That's right, SPECTRE is going to be immense. 
						The idea of Christoph Waltz - arguably the best actor working today - being the legendary Blofeld is enough to bring a tear to any Bond fan's eye. 
						CAN'T. FUCKING. WAIT.</p>
					</div>
				</div>
