<div class="col col-100 slide open" id="slide-Intro">
		<div class="col col-25">
			<br>
		</div>
		<div class="col col-50">
			<h3>What are the DEC Awards?</h3>
			<p>The DEC Awards are pointless, crappy, unprestigous awards I generously bestow to shit that I've enjoyed over the past year. To see previous year's results click the year at the top.</p>
			<p>&nbsp;</p>
			<h3>What kind of shit?</h3>
			<p>Music, games, movies. Y'know, the same old stuff you can read about anywhere else across the site, except it's annual!</p>
			<p>&nbsp;</p>
			<h3>I feel like I should really care about this!</h3>
			<p>You really shouldn't. If you're taking issue or are even mildly interested with what these awards are presented to, I'm worried for your mental health and wellbeing.</p>
			<p>&nbsp;</p>
			<h3>I'm really hyped for the next edition! When are the awards held?</h3>
			<p>In front of the grand total of zero people who read this site at some unspecified point in January of each year.</p>
		</div>
		<div class="col col-25">
			<br>
		</div>
	</div>
