

				<div class="award init"><!-- style="width:10%;" data-offset="-10%">-->
					<div class="col col-25">
						<br/>
					</div>
					<div class="col col-50">
						<h1>2011</h1>
						<p>This time last year I was writing this blog in my spare time between animating a geek, a fatty, a slut and a robot. Oh, and an emo kid, but no-one really 
						cares about him. How times have changed that I am now writing this in my lunch hour of a serious office job. I may have grown up a little bit, but on the inside 
						I'm still the same old Dec, bringing you the same Delicious and Excellent Concepts, this time for 2011.</p>
						<h1 class="next">v</h1>
					</div>
					<div class="col col-25"> 
						<br/>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="award"><!-- style="width:10%;" data-offset="-10%">-->
					<div class="col col-50">
						<div class="vignette" style="background-image:url(/assets/uploads/2013-11-21/elcamino.png);height:500px;"></div>
					</div>
					<div class="col col-50">
						<h1>Album of the year</h1>
						<p>To be perfectly honest, I don't listen to that much new music anymore - I find myself preoccupied playing games, watching movies or football, doing work 
						or something else. When I do listen to music it's often 80's classics. But there have been a few new releases this year which I've thoroughly enjoyed. There was, 
						of course, the debut album from <a href="/welcome-reality-welcome-indeed">Nero</a> which I reviewed earlier this year. Another contender was Machine Head's 
						Unto The Locust which was the best metal album I've heard in years. And let's not forget about the spectacular release from Dream Theater, A Dramatic Turn of Events, 
						with prog-rock tracks such as the fantastic On The Backs of Angels. It's pipped to the post by an absolutely phenomenal album - <strong>El Camino by The Black Keys</strong>. 
						I love the bluesey-rock fusion and the whole album is brilliantly catchy - one of my desert island discs, I think.</p>
						<h1 class="next">v</h1>
					</div>
				</div>
				<div class="clearfix">
					<br/>
				</div>
				<div class="award"><!-- style="width:10%;" data-offset="-10%">-->
					<div class="col col-50">
						<h1>Game of the year</h1>
						<p>I'm spoilt for choice. It has been an astonishing year in the videogame industry. Skyrim? Portal 2? Deus Ex? Little Big Planet 2? Arkham City? Sonic Generations?</p>
						<p>You get the picture.There have been so many fantastic games that I simply haven't had the chance to play all of them - those listed are simply a handful of 
						amazing titles that I've had the privilege to play. So, onto the winner - it's going to be Skyward Sword, isn't it? WRONG. I love Skyward Sword but it's 
						lacking... something. And that something is a sizeable game world to explore. A principle point of the Zelda series, you are normally rewarded for getting 
						involved and finding out secrets all over the map - but Skyward Sword's is not like that. Am I disappointed? A little. It's still better than most of those games 
						I listed off earlier, but it's not my favourite game of the year.</p>
						<p>Another worthy mention is LA Noire. It's a landmark in innovation and in the gaming industry, a merger of genres that I hope many developers follow. It's 
						representative of originality in a age full of clones and sequels (good as some of those may be) and Rockstar really pushed the boat out. It's difficult to 
						deny that they could have done so much more with the game, but it's impossible to deny that what they did acheive was truly remarkable.</p>
						<p>But the cr&#232;me de la cr&#232;me, the superlative, the ultimate victor this year, was <strong>Uncharted 3: Drake's Deception</strong>. An absolutely stunning 
						piece of software, one that perfectly combines platforming, shooting and puzzle-based gameplay into a magnificently cinematic spectacle, an interactive movie that 
						allows you to really get involved. Aside from being a little linear, it's the best game I've played in a long time that truly sucks you into the story and simply 
						entertains. A masterpiece.</p>
						<h1 class="next">v</h1>
					</div>
					<div class="col col-50">
						<div class="vignette" style="background-image:url(/assets/uploads/2013-11-21/drake.png);height:800px;"></div>
					</div>
				</div>
				<div class="clearfix">
					<br/>
				</div>
				<div class="award"><!-- style="width:10%;" data-offset="-10%">-->
					<div class="col col-50">
						<div class="vignette" style="background-image:url(/assets/uploads/2013-11-21/inbtw.png);height:500px;"></div>
					</div>
					<div class="col col-50">
						<h1>Film of the year</h1>
						<p>Although a slow start, the cinema of 2011 was, generally, a successs - although perhaps lacking a little in originality. It had the highest number of sequels 
						in the history of film, and many of those that were not sequels followed a generic formula.</p>
						<p>Of course, though, this isn't necessarily a bad thing. Sequels tend to exist because of both a critically and commercially successful first film. Oftentimes, 
						they don't live up to the original, but in the case of Sherlock Holmes: A Game of Shadows, it kept the interesting formula of the original and the banter between 
						Holmes, Watson and Moriarty was top-notch. Robert Downey Jr excelled again and the whole film was an easy watch, as Ritchie continues to blend his distinct style 
						into the beloved Conan-Doyle character.</p>
						<p>Of course, not every film was a sequel - Black Swan was, although not to my taste, an excellent example of sublime film-making, with by far and away the best 
						cinematography of the year. I struggled to connect with the storyline personally but it didn't stop me appreciating what was an extremely good film.</p>
						<p>But the best film of the year wasn't because of its brilliant visual effects, or its distinct style. It was simply laugh-out-loud funny, relateable and 100% 
						English. <strong>The Inbetweeners Movie</strong> quite deservedly takes this award, as it builds and improves on every aspect of the superb television series.
						It's crude, rude - often unnecessarily so - but the stereotypes are so real, you'll see yourself and your friends everywhere you look. It remained on at the 
						cinema in the UK for several months, grossing an eventual &pound;45million from a &pound;3.5 million budget - a success if ever I saw one. If you haven't seen it, do. 
						It's beyond brilliant.</p>
						<h1 class="next">v</h1>
					</div>
				</div>
				
				<div class="clearfix">
					<br/>
				</div>
				<div class="award"><!-- style="width:10%;" data-offset="-10%">-->
					<div class="col col-50">
						<h1>TV Series of the year</h1>
						<p>First off there's the incredible, beautiful, spectacular series Frozen Planet, which was summed up poetically by my girlfriend - 'It's cute, and then 
						it gets eaten.' It truly is a masterclass in filmography though, and makes me desperate to visit these spectacular icy wastelands. Another fantastic travel 
						show - although vastly different - is the second series of An Idiot Abroad, which, although it seems to be a bit more scripted than the first, is hilarious 
						from start to finish, and I find myself feeling more and more in tune with Karl Pilkington, as he says what many people must be thinking.</p>
						<p>But the winner, of course, there could be no other - <strong>Game of Thrones</strong> was simply astonishing and probably better than any film I've seen 
						this year. I cannot wait for the second series and hope that it lives up to the amazing show that was the first series.</p>
						<h1 class="next">v</h1>
					</div>
					<div class="col col-50">
						<div class="vignette" style="background-image:url(/assets/uploads/2013-11-21/seanbean.jpg);height:800px;"></div>
					</div>
				</div>
				
				<div class="clearfix">
					<br/>
				</div>
				<div class="award"><!-- style="width:10%;" data-offset="-10%">-->
					<div class="col col-50">
						<div class="vignette" style="background-image:url(/assets/uploads/2013-11-21/bane.jpg);height:500px;"></div>
					</div>
					<div class="col col-50">
						<h1>Looking forward to in 2012...</h1>
						<p>2012 is supposed to be the end of the world so let's go out in style. It's not going to happen. But there's the second series of Game of Thrones to look 
						forward to, many, many games including Borderlands 2 and Kid Icarus: Uprising, and the launch of the first next-gen console, the Wii U - which looks very good, 
						especially now they've realised that only having one controller per console was an unbelievably stupid idea. I'm especially looking forward to the 
						connectivity between this and the upcoming 3DS Super Smash Bros, which will undoubtedly be amazing.</p>
						<p>The thing I'm looking forward to most, though, is the final instalment to Christopher Nolan's Batman Trilogy, <strong>The Dark Knight Rises.</strong> The name's 
						a little bit stupid but if it's even a fraction as good as The Dark Knight was it'll be the best film of the decade already. Aside from a title that doesn't really 
						roll off the tongue and *shudder* Anne Hathaway in it, there's nothing that puts me off - I can't wait to see Tom Hardy as Bane, and the return of some of my 
						favourite actors (Bale, Freeman, and Oldman). Should be an absolute cracker.</p>
					</div>
				</div>
