

				<div class="award init"><!-- style="width:10%;" data-offset="-10%">-->
					<div class="col col-25">
						<br/>
					</div>
					<div class="col col-50">
						<h1>2010</h1>
						<p>While I have a little bit of time to spare at University today, I thought I'd take a look back at the last year in my area of interests in the 
						Delicious and Excellent Concept Awards of 2010 (I am fully aware of how incredibly crap the title is, but frankly, my dear, I don't give a damn).</p>
						<h1 class="next">v</h1>
					</div>
					<div class="col col-25"> 
						<br/>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="award"><!-- style="width:10%;" data-offset="-10%">-->
					<div class="col col-50">
						<div class="vignette" style="background-image:url(/assets/uploads/2013-12-09/pendulum.jpg);height:500px;"></div>
					</div>
					<div class="col col-50">
						<h1>Album of the year</h1>
						<p>2010 had a lot to live up to after the fantastic year that preceded it that saw the likes of Passion Pit and The Prodigy grace our ears. It has lived up 
						to and perhaps exceeded the standard set before it, with fantastic albums that I reviewed on this website (such as <a href="/catching-the-fever">Bullet For 
						My Valentine's 'Fever'</a> and <a href="/the-powerless-rise">As I Lay Dying's 'The Powerless Rise'</a>) and those I didn't, such as The Naked And Famous' 
						'Passive Me, Aggressive You', and the winner - <strong>Pendulum - Immersion</strong>. A fantastic band with two already fantastic albums, they continue to 
						improve and pave the way as the leading sound of Drum and Bass/Rock fusion.</p>
						<h1 class="next">v</h1>
					</div>
				</div>
				<div class="clearfix">
					<br/>
				</div>
				<div class="award"><!-- style="width:10%;" data-offset="-10%">-->
					<div class="col col-50">
						<h1>Game of the year</h1>
						<p>This is a difficult choice. There have been games of outstanding quality this year, some brilliant surprises and some lacklustre disappointments. 
						In the latter category is Final Fantasy XIII, which, while still a great game, failed to deliver the scope and brilliance of previous games in the series.</p>
						<p>Moving swiftly on and focusing on the positives, though, the shortlist includes the immersive Heavy Rain, which would probably have won if it had a little 
						more replayability, and Fallout: New Vegas (which is basically Fallout 3 set in Vegas, so immediately it's going to be extremely high up). I would love to 
						give the award to LittleBigPlanet 2, which is absolutely fantastic, but that's a 2011 game and so will probably win the award this time next year. However 
						the winner for 2010 is <strong>Gran Turismo 5</strong>, an absolutely superb racing game which incorporates both simulation and arcade elements perfectly,
						coupled with truly astonishing graphics, and a sense of realism unmatched by any other driving simulator to date.</p>
						<h1 class="next">v</h1>
					</div>
					<div class="col col-50">
						<div class="vignette" style="background-image:url(/assets/uploads/2013-12-09/gt5.jpg);height:500px;"></div>
					</div>
				</div>
				<div class="clearfix">
					<br/>
				</div>
				<div class="award"><!-- style="width:10%;" data-offset="-10%">-->
					<div class="col col-50">
						<div class="vignette" style="background-image:url(/assets/uploads/2013-12-09/inception.png);height:500px;"></div>
					</div>
					<div class="col col-50">
						<h1>Film of the year</h1>
						<p>After the appalling mess that was 2009 in film, 2010 was much brighter. It wasn't just limited to the summer blockbusters, either. Kick-Ass was a brilliant 
						tribute to comic book heroes, Dinner For Schmucks and The Other Guys were refreshingly stupid comedies, and Tim Burton provided us with his take on Alice In 
						Wonderland. Then there was Toy Story 3, a fantastic end to possibly the best trilogy of films ever, and the not-so-good-but-still-incredibly-entertaining 
						Machete and The Expendables. But - of course - the award goes to <strong>Inception</strong> which has already staked its claim for best film of the 2010s. 
						It's a truly special film that will, deservedly, go down in history.</p>
						<h1 class="next">v</h1>
					</div>
				</div>
				
				<div class="clearfix">
					<br/>
				</div>
				<div class="award"><!-- style="width:10%;" data-offset="-10%">-->
					<div class="col col-50">
						<h1>Looking forward to in 2011...</h1>
						<p>Coming up soon is Portal 2, which I have no doubt will be simply incredible. The first Portal game took a tired FPS genre and injected it with puzzles 
						that make you think, and a brilliant sort of mini-story to boot - the cake is a lie. LittleBigPlanet 2 - although I already own it, is technically this year - 
						is a fantastic game that already owns everything that came out last year. Uncharted 3: Drake's Deception promises to take the brilliance of Uncharted 2 and 
						build and improve upon it. My game of 2009, Arkham Asylum, is expecting a sequel in the form of Arkham City. But topping all of these, making me sick like a 
						child is <strong>The Legend of Zelda: Skyward Sword</strong>. Before too long I will do a feature on the Zelda series and just why I love it so much, and why 
						I think that Skyward Sword may finally replace Ocarina of Time in my heart as the best game ever.</p>
					</div>
					<div class="col col-50">
						<div class="vignette" style="background-image:url(/assets/uploads/2013-12-09/ss.jpg);height:500px;"></div>
					</div>
				</div>
