

				<div class="award init"><!-- style="width:10%;" data-offset="-10%">-->
					<div class="col col-25">
						<br/>
					</div>
					<div class="col col-50">
						<h1>2013</h1>
						<p>Another year down.</p>
						<p>For me, 2013 was a busy year, especially the latter months. I neglected my website and writing a little, but it's something I intend to pick up this year, 
						beginning now. Let it be known that henceforth, I shall be writing one blog every week for the rest of the year!*</p>
						<p>Anyway, onto the important stuff. What shit was golden this year, and what shit was just shit? There's only one way to find out - it's the 2013 Delicious 
						and Excellent Concept Awards!</p>
						<p><em><small>*I probably won't.</small></em></p>
						<h1 class="next">v</h1>
					</div>
					<div class="col col-25">
						<br/>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="award"><!-- style="width:10%;" data-offset="-10%">-->
					<div class="col col-50">
						<div class="vignette" style="background-image:url(/assets/uploads/2014-01-21/bastille.JPG);height:800px;"></div>
					</div>
					<div class="col col-50">
						<h1>Album of the year</h1>
						<p>There was a lot of decent music released in 2013. Hell, more good music than I've heard for many years. David Bowie came back with his first release 
						in a decade, The Next Day, and Biffy Clyro put out the superb album Opposites. There was also a wave of decent debuts, such as AWOLNATION's Megalithic 
						Symphony and In A Tidal Wave of Mystery from electro-indie group Capital Cities.</p>
						<p>Trent Reznor reunited with himself to bring out the excellent Hesitation Marks, and Children of Bodom redeemed their last terrible release (Relentless, 
						Reckless Forever) with Halo of Blood, their first decent attempt since 2007.</p>
						<p>It's also worth mentioning that there were some pretty decent singles too - most notable Daft Punk's Get Lucky, but also the viral comedy sensation 
						The Fox from Ylvis. The Lonely Island also managed to get a full 20 laugh-filled tracks out this year.</p>
						<p>But the winner of this most prestigious title goes to what I feel is the best album I have heard for many a year, which is Bastille's <strong><a href="/bastille-bad-blood">Bad Blood</a></strong>. It's rare 
						that my own music tastes align so well with commercial success and I'm happy that Dan Smith is getting all the credit he deserves as a songwriter.</p>
						<h1 class="next">v</h1>
					</div>
				</div>
				<div class="clearfix">
					<br/>
				</div>
				<div class="award"><!-- style="width:10%;" data-offset="-10%">-->
					<div class="col col-50">
						<h1>Game of the year</h1>
						<p>It was a fairly subdued year for videogames, due to the release of new consoles imminent at the end of the year. That's not to say that there weren't 
						good games. Indeed, there were some of the best games of this generation.</p>
						<p>Amongst the usual annual drivel of dull engine clones, there were some excellent standouts. Papers, Please is an absolutely brilliant, story-driven game 
						in which you play a border control agent for a post-soviet -stancountry, torn apart by terrorists from other -stan countries. You struggle to live day by day, 
						using your measly paycheck to keep your family warm and fed, but that's about it. It's full of humour, sadness and the gameplay, although simple, is surprisingly 
						addictive and unforgiving.</p>
						<p>Another special mention goes to Bioshock Infinite. It's not particularly groundbreaking in terms of gameplay but it gets what it does exactly right, and it 
						breaks the trend of boring grey-brown-and-blue-if-it's-in-space palettes of normal shooters with a bright, vivid presentation and the best storyline of a game in 
						many a year.</p>
						<p>However, there can only be one winner. The vast majority of gaming institutions opted for one of two games as their Game of the Year; and as I have not played 
						GTA5, I have no choice but to bestow this honour to <strong>The Last of Us</strong>. There's so much to say about this game that can't be adequately summed up in 
						a few sentences. Using a very similar engine to the Uncharted series, but dramatically reduced in pace (and ammunition), it is survival horror dressed up to look 
						like an action game. The storyline and performances are gripping with themes of morality and loyalty at its core. The ending is spine-tingling. The multiplayer 
						is out of this world. It's truly deserving of this accolade and all the others that it will receive.</p>
						<h1 class="next">v</h1>
					</div>
					<div class="col col-50">
						<div class="vignette" style="background-image:url(/assets/uploads/2014-01-21/thelastofus.jpg);height:800px;"></div>
					</div>
				</div>
				<div class="clearfix">
					<br/>
				</div>
				<div class="award"><!-- style="width:10%;" data-offset="-10%">-->
					<div class="col col-50">
						<div class="vignette" style="background-image:url(/assets/uploads/2014-01-21/smaug.jpg);height:500px;"></div>
					</div>
					<div class="col col-50">
						<h1>Film of the year</h1>
						<p>A somewhat subdued year in Cinema, perhaps. There were few standout movies, and two of my favourites - Django Unchained and Wreck-it Ralph - are listed on 
						Wikipedia as 2012 movies due to their American release dates. Not that it really makes a difference to me.</p>
						<p>Even skimming down the list of blockbusters there's little to celebrate. Iron Man 3 and Thor 2 were both entertaining but hardly anything special. There are 
						a couple of decent kid's films - Despicable Me 2 and Monsters University, notably - but again, they're not exactly classics. Then, of course, there was the 
						absolutely appalling mess that was Man of Steel - genuinely one of the worst films I've ever seen (only slightly better than Sex and the City 2).</p>
						<p>That leaves a handful of good-but-not-great movies as my only realistic nominees for the best film of the year. Furthermore, I've only a handful of those, 
						so <strong>The Hobbit: The Desolation of Smaug</strong> is my best film of 2013 by default. That's not to discredit it, mind you: I enjoyed it even more than 
						An Unexpected Journey, which in turn I enjoyed more than The Lord of the Rings trilogy. That may be a slightly controversial opinion, but I personally believe 
						that the more light-hearted approach suits this trilogy better than the full on grit of the other films. It's certainly shaping up to be a much better prequel 
						trilogy than Star Wars.</p>
						<h1 class="next">v</h1>
					</div>
				</div>
				
				<div class="clearfix">
					<br/>
				</div>
				<div class="award"><!-- style="width:10%;" data-offset="-10%">-->
					<div class="col col-50">
						<h1>TV Series of the year</h1>
						<p>If I had the time or could be bothered I could make a Big Fat Quiz-style montage of all the TV we were treated to in 2013 and it would be very impressive. The most 
						shocking season yet of HBO's Game of Thrones, the end of the critically acclaimed Breaking Bad (although I find it to be dull and have no empathy whatsoever for 
						the protagonist), another tense season of The Walking Dead and the brand-new, amazing House of Cards. Just to name a few.</p>
						<p>But hands down the best of the year - better than all of those - is the one-off special finale of <strong>The IT Crowd</strong>. A fitting, hilarious farewell to 
						what is probably the best sitcom of the current generation.</p>
						<h1 class="next">v</h1>
					</div>
					<div class="col col-50">
						<div class="vignette" style="background-image:url(/assets/uploads/2014-01-21/it-crowd-finale.jpg);height:500px;"></div>
					</div>
				</div>
				
				<div class="clearfix">
					<br/>
				</div>
				<div class="award"><!-- style="width:10%;" data-offset="-10%">-->
					<div class="col col-50">
						<div class="vignette" style="background-image:url(/assets/uploads/2014-01-21/ssb4.jpg);height:500px;"></div>
					</div>
					<div class="col col-50">
						<h1>Looking forward to in 2014...</h1>
						<p>So, how is 2014 shaping up? Well, not too bad. There are several original film titles to be released that have already piqued my interest: The Wolf Of Wall 
						Street (like last year I'm counting films by their UK and not their US release dates), Interstellar and Jupiter Ascending to name but a few. There's the final 
						installation in the Hobbit trilogy and a long-overdue sequel to Sin City.</p>
						<p>There is of course, the fourth series of Game of Thrones and another series to the fantastic House of Cards, although I know for certain that my television 
						will spend most of the year showing me Brazil and the FIFA World Cup.</p>
						<p>The world of gaming, too, is looking promising: Sony's recently announced PlayStation Now service that allows you to stream PS3 (and eventually PS2 and PS4 
						games) to devices such as tablets and smartphones is a bold company move that is highly beneficial for the gaming community - and is seriously pushing to me 
						to consider buying a PS Vita in the summer. Also mentioned in last year's DEC Awards was Metal Gear Solid V, which has since been delayed and split into two 
						separate titles, and hopefully should be coming our way this year. Whispers of a Majora's Mask remake for 3DS titillate me, too.</p>
						<p>My biggest anticipation is the sequel to what is (one of) my favourite series of all times - you guessed it, it's <strong>Super Smash Bros. for Wii U and 3DS</strong>. I 
						do hope that Sakurai improves the name slightly before release (just SSB4 would be fine) but even if it is a retarded name, that's not going to stop me loving 
						every second of it.</p>
					</div>
				</div>
