

				<div class="award init"><!-- style="width:10%;" data-offset="-10%">-->
					<div class="col col-25">
						<br/>
					</div>
					<div class="col col-50">
						<h1>2015</h1>
						<p>The Delicious and Excellent Concept Awards were delayed.</p>
						<p>I know, please hold back your tears.</p>
						<p>Life too often gets in the way of pointless awards that are not read by anybody, but never fear, despite being a little late, the awards are back.</p>
						<h1 class="next">v</h1>
					</div>
					<div class="col col-25"> 
						<br/>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="award"><!-- style="width:10%;" data-offset="-10%">-->
					<div class="col col-50">
						<div class="vignette" style="background-image:url(/assets/background-images/kindred.jpg);height:500px;"></div>
					</div>
					<div class="col col-50">
						<h1>Album of the year</h1>
						<p>There was a surprisingly large amount of good music this year, but so few albums managed to be consistent all the way through, rather having individual tracks of excellence
							whilst falling short elsewhere. Most notably, Children Of Bodom's <i>I Worship Chaos</i> is probably their best release since <i>Are You Dead Yet</i> but the drivel that
							they released in between made that not too difficult. Whilst the title track and a couple of others are decent, they're still not a patch on the Bodom of old. A much more worthy
							mention is Soilwork's <i>The Ride Majestic</i>, proving that the Melodeath scene still has some life and creativity left.</p>
						<p>Moving over to the other genre of music I like, CHVRCHES released a new album, with the lead single, <i>Leave A Trace</i>, probably being one of my favourite songs of the year, but the rest of the album doesn't quite
							live up to the same standard. Similarly with Imagine Dragons' <i>Smoke + Mirrors</i> - although there's strong tracks like "Shots", it's backed up by a lot of twaddle.</p>
						<p>The most consistent album is a two-horse race between two of my favourite longstanding bands. The runner up is Finger Eleven with their (IMO highly successful) experimental
							release <a href="/five-crooked-lines"><i>Five Cooked Lines</i></a>, but the winner is <b>Passion Pit - Kindred</b> which continues their peculiar brand of upbeat misery.</p>
						<p>Also, I just want to give a special mention to Orgy's EP <i>Talk Sick</i>.</p>
						<h1 class="next">v</h1>
					</div>
				</div>
				<div class="clearfix">
					<br/>
				</div>
				<div class="award"><!-- style="width:10%;" data-offset="-10%">-->
					<div class="col col-50">
						<h1>Game of the year</h1>
						<!--<p>After waiting so long for <i>The Phantom Pain</i> to come out, I still haven't played it. Don't judge me, I'm poor and busy.</p>
						<p>I've also only played patches of <i>The Witcher 3</i>, which seemed very good. But not enough to win an award.</p>-->
						<strike><p>Out of the games I have played this year, one stands head and shoulders above the rest despite its glaring flaws: of course, it's <b>Fallout 4</b>. Yes, the dialogue system
							is very poor compared to 3/New Vegas. Yes, it's riddled with the typical Bethesda bugs that should have been fixed nearly 10 years ago. But bloody hell, it's an incredible
							game. It speaks volumes that those deriding the game still manage to sink hundreds of hours into it. Every corner becomes a new quest, every settlement a new project
							to build. I'm still looking for enough aluminium to build my ultimate pistol. Oh, and I still haven't finished the main story because at every turn there's a new place to explore.
							Screw the haters, I love this game.</p></strike>
						<p>Having played the incredible <a href="/undertale"><b>Undertale</b></a>, I have no choice but to take the award away from Fallout. Don't get me wrong, I still love it,
						but it's nothing compared to the originality of TobyFox's debut. An unexpected victor, but a deserved one.</p>
						<h1 class="next">v</h1>
					</div>
					<div class="col col-50">
						<div class="vignette" style="background-image:url(/assets/background-images/fallout-4.jpg);height:500px;"></div>
					</div>
				</div>
				<div class="clearfix">
					<br/>
				</div>
				<div class="award"><!-- style="width:10%;" data-offset="-10%">-->
					<div class="col col-50">
						<div class="vignette" style="background-image:url(/assets/background-images/the-martian.jpg);height:500px;"></div>
					</div>
					<div class="col col-50">
						<h1>Film of the year</h1>
						<p>I rewatched <a href="/blogalongabond-spectre"><i>SPECTRE</i></a> a second time, and it was much more enjoyable the second time around without the pressures of living up to Skyfall. It's Craig's take on
							a Brosnan film and I have come to terms with that, but it's still absolutely not film of the year.</p>
						<p>Then there's <a href="/the-force-awakens"><i>Star Wars Episode VII</i></a>, which again, whilst an enjoyable film, was a by-the-books blockbuster of which there have been seemingly hundreds of this
							year: <i>Mad Max: Fury Road</i>, <i>Jurassic World</i>, <i>Ant-Man</i>, <i>The Hunger Games: Mockingjay - Part 2</i>, <i>Avengers: Age Of Ultron</i>... and there's probably more I've missed, too. In truth these are all very,
							very good films, but none of them are so good that they transcend anything above by-the-books Hollywood entertainment.</p>
						<p>I want to give a special mention to the excellent <i>Inside Out</i> which is one of the best animated films in years, and the most emotional since Up. I'm still fucking grieving over Bing Bong. And also, another
							film I greatly enjoyed was Tom Hardy's take on the Kray Twins in <i>Legend</i>.</p>
						<p>One film did transcend the others, though - all the way to Mars. Yes, <b>The Martian</b> is the best film of the year - a story of one man trying to keep his sanity as he is stranded and forced to fend for himself alone on an entire planet. Although at times it stretches suspension of disbelief, the difficult conflict of emotions is well portrayed by Damon and leads into a modern-day sci-fi classic.</p>
						<h1 class="next">v</h1>
					</div>
				</div>
				
				<div class="clearfix">
					<br/>
				</div>
				<div class="award"><!-- style="width:10%;" data-offset="-10%">-->
					<div class="col col-50">
						<h1>TV Series of the year</h1>
						<p>By far the weakest season of <a href="/game-of-thrones-s5"><i>Game of Thrones</i></a> means that I'm ruling it out of the running on sheer principle. I'm also annoyed at myself at how much TV I have let slip through my fingers - new seasons of 24 and House of Cards are yet to be watched - so like the game award, this may be revisited in the coming months.</p>
						<p>Towards the end of the year came a Netflix series known as <i>Making a Murderer</i>, an incredible story of a man who was seemingly framed for crimes more than once.
							Whether or not Steven Avery is truly guilty is not up for debate here but what isn't is that it is an incredibly well-crafted piece of television that gets across
							the message it wants to clearly and convincingly. As good as it is, it in fact lead me to watch something else which was even better...</p>
						<p><b>The Jinx: The Life and Deaths of Robert Durst</b> is basically the opposite of <i>Making a Murderer</i> and you almost cannot believe that this is real life. Although
							the first couple of episodes are a little slow to start, as the full story of Robert Durst unravels - this suprisingly likable, charismatic man - you find yourself hooked,
							in shock, and disbelief in what is probably the most brilliant finale to a documentary in television history. Go and watch it, right now.</p>
						<h1 class="next">v</h1>
					</div>
					<div class="col col-50">
						<div class="vignette" style="background-image:url(/assets/background-images/the-jinx.jpg);height:500px;"></div>
					</div>
				</div>
				
				<div class="clearfix">
					<br/>
				</div>
				<div class="award"><!-- style="width:10%;" data-offset="-10%">-->
					<div class="col col-50">
						<div class="vignette" style="background-image:url(/assets/background-images/yooka.jpg);height:500px;"></div>
					</div>
					<div class="col col-50">
						<h1>Looking forward to in 2016...</h1>
						<p>As much as I would like to say <i>The Winds of Winter</i>, with GRRM's confirmation that it won't be out in time for the show, I don't really see him hurrying along to release it before the end of the year. 
							As of yet, there's no films that grab my attention too much, but that may change - however, there are several games I'm looking forward to. <i>No Man's Sky</i> is a game I have been waiting for since E3 2014,
							and other PlayStation exclusives look enticing - notably <i>Uncharted 4</i> and <i>FF7 Remake</i>. I'm also interested in <i>Xcom 2</i>, <i>Fire Emblem: Fates</i>, <i>Star Fox: Zero</i> and - of course - the new <i>Legend of Zelda</i> title. If we had more details on that, it would probably take top spot, but because not....</p>
							<p><b>Yooka-Laylee</b> looks to be everything I wanted from Banjo-Threeie and more. I can't begin to describe how incredibly excited I am for this game. With the final DLC annoucments for Smash, the Banjo
								dream is dead, but maybe, just maybe, we can get Yooka and Laylee in Smash 5? Only time will tell...</p>
					</div>
				</div>
